/*  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  /* font-style: normal; */

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(47, 88%, 63%);
}

.container {
  max-width: 40rem;
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  border: 1.5px solid hsl(0, 0%, 0%);
  border-radius: 2rem;
  box-shadow: 6px 6px 0px hsl(0, 0%, 7%);
}

.illustration img {
  width: 100%;
  border-radius: 1rem;
}

.sub-heading {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  margin: 2rem 0 1.6rem 0;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 0%);
  font-size: 1.6rem;
  font-weight: 800;
}

.published-date {
  margin-bottom: 1.5rem;
  color: hsl(0, 0%, 42%);
  font-size: 1;
  font-weight: 600;
}

.secondary-heading {
  margin-bottom: 1.8rem;
}

.link-heading:link,
.link-heading:visited {
  text-decoration: none;
  color: hsl(0, 0%, 7%);
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.link-heading:hover,
.link-heading:active {
  color: hsl(47, 88%, 63%);
}

.description {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: hsl(0, 0%, 38%);
  line-height: 1.5;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author-img img {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
}
.author-name {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
}

.attribution {
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
